.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    margin-top: 2em;
    margin-bottom: 2em;

	@media screen and (min-width: 860px) {
		flex-direction: row;
		justify-content: space-between;

		&__left {
			width: 20%;
            margin-right: 3em;
		}

		&__right {
            width: 70%;
		}
	}
}
