.search-bar {
    background: url(../../images/backgroundImg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3em 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 100%;
    max-width: 80%;
    background-color: #fff;
    padding: 0.25em 0.25em 0.25em 1em;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .MuiSvgIcon-root {
        fill: #B9BDCF;
    }

    &__input {
        border: none;
        background-color: transparent;
        text-overflow: ellipsis;
        width: 130px;
        margin-left: 1em;

        &::placeholder {
            color: #B9BDCF;
        }

        @media only screen and (min-width: 860px) {
            width: 100%;
        }
    }
}

.button {

    padding: 1.25em 2em;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    @media only screen and (min-width: 860px) {
        padding: 1em 3em;
        font-size: 1.15rem;
    }

    &--primary {
        color: #fff;
        background-color: hsl(212, 100%, 56%);
    }
}